### Docker
COMPOSE_PROJECT_NAME=heros-sos
COMPOSE_FILE=.docker/docker-compose.yml

## MySQL
MYSQLDB_ROOT_PASSWORD=richarlebgdu76
MYSQLDB_DATABASE=herosdb
MYSQLDB_LOCAL_PORT=3306
MYSQLDB_USER=root
MYSQLDB_DOCKER_PORT=3306
MYSQLDB_JPA_DATABASE=mysql

## Spring
SPRING_LOCAL_PORT=6868
SPRING_DOCKER_PORT=8080

## Location
APPLICATION_ROOT_FOLDER=C:\projets_pro\heros-sos\heros-app\

### Fin Docker ###